.container {
    width:400px;
    height:600px;
    border-radius : 15px;
    display:flex;
    flex-direction:column;
    overflow : hidden;
    box-shadow: 0px 0px 20px 0px rgb(228, 6, 6);
}
.img1Style {
    width : 100%;
    height : 50%;
    object-fit : cover;
    border-radius:15px;
}

.btnStyle  {
    width:100px; 
    background-color:white;
    color:black;
     border:1px solid black; 
     margin-left:142px;

}

.btnStyle:hover{
    box-shadow: 0px 0px 10px 0px rgb(228, 6, 6);
}




.btnStyleNo:hover{
    box-shadow: 0px 0px 10px 0px rgb(228, 6, 6);
}
